html {
    font-size: 14pt;
  }

.main-menu {
  background-color: transparent !important;
}

/* in case it's a wrapping header container rather than .main-menu itself */
header {
  background-color: transparent !important;
}