{{- $uid := "" -}}
{{- if templates.Exists "partials/functions/uid.html" -}}
  {{- $uid = partial "functions/uid.html" . -}}
{{- else -}}
  {{- $uid = now.Unix -}}
{{- end -}}
{{- $id := delimit (slice "gallery" $uid) "-" -}}

<div id="{{ $id }}" class="gallery">
  {{- $page := .Page -}}
  {{- if not .Inner -}}
    {{- errorf "Gallery shortcode requires content" -}}
  {{- end -}}

  <!-- find all img tags -->
  {{- $imgTagRegex := `<img\s+[^>]*>` -}}
  {{- $imgTags := findRE $imgTagRegex .Inner -}}
  {{- $newContent := .Inner -}}

  {{- range $imgTags -}}
    {{- $imgTag := . -}}
    <!-- extract src attribute -->
    {{- $srcRegex := `src=['"]([^'"]+)['"]` -}}
    {{- $srcMatches := findRESubmatch $srcRegex $imgTag -}}

    {{- if $srcMatches -}}
      {{- $srcFull := index (index $srcMatches 0) 0 -}}
      {{- $src := index (index $srcMatches 0) 1 -}}

      {{- $finalSrc := $src -}}
      {{- $isExternalURL := or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}

      {{- if not $isExternalURL -}}
        {{- with $page.Resources.GetMatch $src -}}
          {{- $finalSrc = .RelPermalink -}}
        {{- else -}}
          {{- with resources.GetMatch $src -}}
            {{- $finalSrc = .RelPermalink -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- $newSrc := printf `src="%s"` $finalSrc -}}
      {{- $newImg := replace $imgTag $srcFull $newSrc -}}
      {{- $newContent = replace $newContent $imgTag $newImg -}}
    {{- end -}}
  {{- end -}}

  {{ $newContent | safeHTML }}
</div>